@model ProyectoVentasAB.Models.tblVentas

@{
    ViewData["Title"] = "Venta";
}


<br />
<div class="row">
    <div class="col-lg-12">

        <div class="card ">
            <div class="col-12 form-inline">
                <table class="table">
                    <thead class="bg-primary">
                        <tr>
                            <td colspan="3" class="text-center text-uppercase"><h4>Datos</h4></td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="number" placeholder="Código" name="codigo" id="codigo" class="form-control" />
                            </td>
                            <td>
                                <input type="date" placeholder="Fecha: " name="fecha" id="fecha" class="form-control" readonly />
                            </td>

                            <td>
                                <select name="IdTienda" class="form-control">
                                    @foreach (var tienda in ViewBag.Tienda)
                                    {
                                        <option value="@tienda.IdTienda">@tienda.NombreTienda</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-md-12">
                <table class="table">

                    <thead class="alert-link">
                        <tr>
                            <td colspan="3" class="text-center text-uppercase"><h4>Producto</h4></td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <select name="idProducto" class="form-control">
                                    @foreach (var producto in ViewBag.Producto)
                                    {
                                        <option value="@producto.IdProducto">@producto.NombreProducto</option>
                                    }
                                </select>

                                <input type="text" placeholder="idProducto" name="idPro" id="idPro" class="form-control" readonly />

                            </td>

                            <td>
                                <input type="text" placeholder="Dato" name="dato" id="dato" class="form-control" readonly />

                                <input type="number" placeholder="cantidad" name="cantidad" id="cantidad" class="form-control" />
                            </td>

                            <td>
                                <input type="number" placeholder="Precio" name="precio" id="precio" class="form-control" />

                                <button id="btnEnviar" class="btn btn-info col-12">Enviar </button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="alert-info">
                            <tr>
                                <td>#</td>
                                <td>Nombre</td>
                                <td>Cantidad</td>
                                <td>Precio $</td>
                                <td>SubTotal</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="fila">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="hidden" class="form-control" name="subt1" id="subt1" value="0" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <table class="col-12">
                        <tr>
                            <td> <label for="total">Total: $</label></td>
                            <td><input type="number" name="total" id="total" class="form-control col-6" readonly /></td>
                            <td><button class="btn btn-success btn-block" name="btnEnviarF" id="btnEnviarF">Guardar</button></td>
                            <td><a asp-action="Index" class="btn btn-warning btn-block">Regresar!</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        //cargar la fecha actual
        window.onload = function () {
            var fecha = new Date(); //Fecha actual
            var mes = fecha.getMonth() + 1; //obteniendo mes
            var dia = fecha.getDate(); //obteniendo dia
            var ano = fecha.getFullYear(); //obteniendo año
            if (dia < 10)
                dia = '0' + dia; //agrega cero si el menor de 10
            if (mes < 10)
                mes = '0' + mes //agrega cero si el menor de 10
            document.getElementById('fecha').value = ano + "-" + mes + "-" + dia;
        }

        //Cargar datos
        $(document).ready(function () {
        //cargar code de producto
        var IdProducto = $("select[name=idProducto]").val();
            $("#idPro").val(IdProducto);
        var Producto = $("select[name=idProducto] option:selected").text();
            $("#dato").val(Producto);
        //llenad o input
            $("#idPro").val(Producto);
            $("select[name=idProducto]").change(function () {
                var IdProducto = $("select[name=idProducto]").val();
                    $("#idPro").val(IdProducto);
                var Producto = $("select[name=idProducto] option:selected").text();
                    $("#idProducto").val(Producto);
                    $("#dato").val(Producto);
            });
        //guardar detalle compra
        $("#btnEnviar").click(function () {
            var id = $("#idPro").val();
            var Producto = $("#idProducto").val();
            var dato = $("#dato").val();
            var cantidad = $("#cantidad").val();
            var precio = $("#precio").val();
            if (id == "" || Producto == "" || dato == "" || cantidad == "" || precio == "") {
                alert("Faltan algunos datos.");
            }
            else {
                var subtt1 = $("#subt1").val();
                var subtotal = (cantidad * precio);
                var contador = $("#fila").html();
                var HTML = "<tr><td class='id'>" + id + "</td><td>" + dato + "</td><td>" + cantidad + "</td><td>" + precio + "</td><td>" + subtotal + "</td><td class='no'><button type='button' name='btnDelete' id='btnDelete' class='btn btn-danger btn-xs fas fa-trash'>Eliminar</button></td></tr> ";
                    $("#fila").html(contador + HTML);
                    $("#idPro").val("");
                    $("#dato").val("");
                    $("#cantidad").val("");
                    $("#precio").val("");
                var total = parseFloat(subtt1)+ parseFloat(subtotal);
                    $("#subt1").val(total)
                    $("#total").val(total)
            }
        });
        //Elimnar filas
        $('body').on('click', 'button#btnDelete', function () {
            //manejo de totales
            var col = $(this).parents('tr');
            var subTotalEliminar = col.find("td:eq(4)").text();
            var totalAC = $("#subt1").val();
            var total1 = parseFloat(totalAC) - parseFloat(subTotalEliminar);
            $("#subt1").val(total1);
            $("#total").val(total1);
            //removiendo fila
            $(this).parents('tr').remove();
        });

        //enviar factura
            $("#btnEnviarF").click(function () {
                var IdTienda = $("select[name=IdTienda]").val();
                var Codigo = $("#codigo").val();
                var Fecha = $("#fecha").val();

                if (IdTienda == "" || Codigo == "" || Fecha == "") {
                    alert("Faltan algunos datos de la factura.");
                }
                else {
                    $.ajaxSetup({ async: false });
                    //cargando datos tabla primaria
                    var urlCompra = '@Url.Action("Ventas", "Create")';
                    var dataCompra = { id: IdTienda, codigo: Codigo, fecha: Fecha };
                        $.post(urlCompra, dataCompra)
                            .done(function (data) {
                                //alert("Compra Creada con exito")
                            })
                            .fail(function (data) {
                                console.log("Error: " + data.responseText);
                            }).
                            always(function () {
                            });
                        //creando detalleCompra
                        $(".id").parent("tr").find("td:eq(0)").each(function () {
                            var columna = $(this).parents('tr');
                            var idProducto = columna.find("td:eq(0)").text();
                            //var Nombre = columna.find("td:eq(1)").text();
                            var Cantidad = columna.find("td:eq(2)").text();
                            var Precio = columna.find("td:eq(3)").text();
                            var Total = columna.find("td:eq(4)").text();
                            //var TotalP = columna.find("td:eq(5)").text();
                            var urlDetalle = '@Url.Action("Ventas", "Create")';
                            var dataDetalle = { idP: idProducto, cantidad: Cantidad,precio: Precio, stotal: Total };

                            $.post(urlDetalle, dataDetalle)
                                .done(function (data) {
                                })
                                .fail(function (data) {
                                    console.log("Error: " + data.responseText);
                                }).
                                always(function () {
                                });

                        });
                        var url = '@Url.Action("Index", "Ventas")';
                        $(location).attr('href', url);
                    }
                });
    });
    </script>
}
