@model ProyectoVentasAB.Models.tblVentas

@{
    ViewData["Title"] = "Venta";
}

<div class="col-6 offset-3">
    <div class="card">
        <div class="card-header bg-danger">
            <h5 class="card-title text-center">Detalles Venta</h5>
        </div>
        <div class="card-body">
            <dl>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.FechaVenta)
                </dt>
                <dd class="col-md-5 col-sm-6">
                    @Html.DisplayFor(model => model.FechaVenta)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </dt>
                <dd class="col-md-5 col-sm-6">
                    @Html.DisplayFor(model => model.Cantidad)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dd class="col-md-5 col-sm-6">
                    @Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.SubTotal)
                </dt>
                <dd class="col-md-5 col-sm-6">
                    @Html.DisplayFor(model => model.SubTotal)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Total)
                </dt>
                <dd class="col-md-5 col-sm-6">
                    @Html.DisplayFor(model => model.Total)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.IdProducto)
                </dt>
                <dd class="col-md-5 col-sm-6">
                    @Html.DisplayFor(model => model.IdProducto)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.IdTienda)
                </dt>
                <dd class="col-md-5 col-sm-6">
                    @Html.DisplayFor(model => model.IdTienda)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.IdVenta" class="btn btn-primary">Editar</a> |
            <a asp-action="Index" class="btn btn-warning">Regresar!</a>
        </div>
    </div>
</div>
